.xOTB-header{
  width:100%;
  border:1px solid lightgray;
  display: flex;
  height:67px;
  background: rgb(200, 217, 226);
}

.xOTB-circle{
  width: 10rem;
  height: 100%;
  background-image: url("/assets/edge_logo.png");
}
.xOTB-text{
  width: 85%;
  padding-left:20px;
}
