<!--The content below is only a placeholder and can be replaced.-->
<app-header-edge></app-header-edge>
<div class="xOTB-main-div">
  <div class="xOTB-nav-div">
    <h6 class="comp-h6">Components</h6>
    <h6 (click)="onSelectTab('multiSelvalue')">Multi Select</h6>
    <h6 (click)="onSelectTab('accordiongroup')">Accordion Group</h6>
    <h6 (click)="onSelectTab('modeldialog')">Modal Dialog</h6>
    <h6 (click)="onSelectTab('speedometer')">Speedo Meter</h6>
    <!-- <h6 (click)="onSelectTab('dynamicform')">Dynamic Form</h6> -->
    <h6 (click)="onSelectTab('formcreation')">Form Creation</h6>
    <h6 (click)="onSelectTab('imageslider')">Image Slider</h6>
    <h6 (click)="onSelectTab('indetermintree')">Indeterminate Tree</h6>
    <h6 (click)="onSelectTab('pagination')">Pagination</h6>
    <h6 (click)="onSelectTab('contextmenu')">Context Menu</h6>
    <!-- <div class="xOTB-button-div" (click)="onSelectTab('multiSelvalue')"
      [ngClass]="{'xOTB-button-div-selected':isMultiSelValue}">
      Multi Select Value
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('accordiongroup')"
      [ngClass]="{'xOTB-button-div-selected':isAcordionGroup}">
      Acordion Group
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('modeldialog')"
      [ngClass]="{'xOTB-button-div-selected':isModelDialog}">
      Model Dialog
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('speedometer')"
      [ngClass]="{'xOTB-button-div-selected':isSpeedoMeter}">
      Speedo Meter
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('dynamicform')"
      [ngClass]="{'xOTB-button-div-selected':isDynamicForm}">
      Dynamic Form
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('formcreation')"
      [ngClass]="{'xOTB-button-div-selected':isFormCreation}">
      Form Creation
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('imageslider')"
      [ngClass]="{'xOTB-button-div-selected':isImageSlider}">
      Image Slider
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('indetermintree')"
      [ngClass]="{'xOTB-button-div-selected':isIndetermineTree}">
      Indeterminate Tree 
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('pagination')"
      [ngClass]="{'xOTB-button-div-selected':isPagination}">
      Pagination
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('contextmenu')"
      [ngClass]="{'xOTB-button-div-selected':isContextMenu}">
      Context Menu
    </div> -->
  </div>
  <div class="xOTB-actions-div">
    <div class="xOTB-actions-nav-div">
      <div class="xOTB-actions-btn-div" (click)="onActionButtonClick('demo')"
        [ngClass]="{'xOTB-actions-btn-click-div':isDemo}">
        Demo
      </div>
      <div class="xOTB-actions-btn-div" (click)="onActionButtonClick('documentation')"
        [ngClass]="{'xOTB-actions-btn-click-div':isDocumentation}">
        Documentation
      </div>
      <div class="xOTB-actions-btn-div xotb-disabledDiv" (click)="onActionButtonClick('others')"
        [ngClass]="{'xOTB-actions-btn-click-div':isOthers}">
        Others
      </div>
      <div class="xOTB-actions-btn-div xotb-disabledDiv" (click)="onActionButtonClick('more')"
        [ngClass]="{'xOTB-actions-btn-click-div':isMore}">
        More
      </div>
    </div>
    <div class="xOTB-actions-btn-content-div">
      <div *ngIf="isDemo" class="xotb-demo">
        <ng-container *ngIf="isMultiSelValue">
          <h3 class="h3-comp">Multi Select</h3>
          <div class="demo-panel">
              <h3 class="demo-title">Default</h3>
            <app-multi-select class="xOTB-margin" [selectorOptions]="selectorOptions"
              (onChange)="onChange($event)" (onChangeSubOption)="onChangeSubOption($event)"
              (addFormControl)="addFormControl($event)" (deleteControl)="deleteControl($event)">
            </app-multi-select>
          </div>
          <div class="demo-panel">
              <h3 class="demo-title">Customized</h3>
            <app-multi-select class="xOTB-margin" [selectorOptions]="selectorOptions1"
              (onChange)="onChange($event)" (onChangeSubOption)="onChangeSubOption($event)"
              (addFormControl)="addFormControl($event)" (deleteControl)="deleteControl($event)">
            </app-multi-select>
          </div>
        </ng-container>

        <ng-container *ngIf="isAcordionGroup">
            <div class="instruction">
              <h3 class="h3-comp">Accordion Group</h3>
              <div class="demo-panel">
                <h3 class="demo-title">Default</h3>
                <app-accordion [openFirst]="openFirst1" (toggle)="onChangeAccordionToggle($event)">
                    <accordion-group [title]="title1" [description]="description1" [icon]="icon1" [open]="open1" [close]="close1">
                      <div class="form-group-div">
                        <div class="form-group form-div">
                          <div class="form-group-child">
                            <label for="email">Email</label>
                            <label for="pwd">Password</label>
                          </div>
                          <div class="form-group-child"> 
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                          </div>
                        </div>
                        <div class="button-div">
                          <input type="checkbox" name="remember"><span>Remember me</span>
                          <button type="submit" class="btn btn-default">Submit</button>  
                        </div> 
                      </div>         
                    </accordion-group>
                </app-accordion>
              </div>
              <div class="demo-panel">
                <h3 class="demo-title">Customized</h3>
                <app-accordion [openFirst]="openFirst2" (toggle)="onChangeAccordionToggle($event)">
                    <accordion-group [title]="title3" [description]="description2" [icon]="icon3" [open]="open3" [close]="close3">
                      <app-multi-select class="xOTB-margin" [selectorOptions]="selectorOptions"
                      (onChange)="onChange($event)" (onChangeSubOption)="onChangeSubOption($event)"
                      (addFormControl)="addFormControl($event)" (deleteControl)="deleteControl($event)">
                      </app-multi-select>
                    </accordion-group>
                </app-accordion>   
              </div>    
            </div>
        </ng-container>
        <ng-container *ngIf="isModelDialog">
          <h3 class="h3-comp">Modal Dialog</h3>
          <div class="demo-panel">
            <h3 class="demo-title">Default</h3>
            <app-modal class="xOTB-margin" [modalOptions]="modalOptions"
            (buttonEvent)="onModalButtonClick($event)">
            </app-modal>
          </div>
          <div class="demo-panel">
            <h3 class="demo-title">Customized</h3>
          <app-modal [buttonTitle]="buttonTitle" [buttonStyle]="buttonStyle" class="xOTB-margin" [modalOptions]="modalOptions1"
            (buttonEvent)="onModalButtonClick($event)">
            </app-modal>
          </div>
        </ng-container>
        <ng-container *ngIf="isPagination">
          <h3 class="h3-comp">Pagination</h3>
          <div class="demo-panel">
            <h3 class="demo-title">Default</h3>
            <app-pagination title="Default Pagination" [pagingData]="pagingData" pageSize="3" 
            class="xOTB-margin" (onPageChange)="onPageChange($event)"></app-pagination>
          </div>
          <div class="demo-panel">
            <h3 class="demo-title">Customized</h3>
            <app-pagination title="Custom Pagination " cardHeader="pagination-header" 
            bodyStyle="pagination-body" pageSize="5" maxPages="10" 
            [pagingData]="pagingData1" class="xOTB-margin" (onPageChange)="onPageChange($event)"></app-pagination>
          </div>
        </ng-container>

        <ng-container *ngIf="isSpeedoMeter">
          <h3 class="h3-comp">Speedo Meter</h3>
          <div class="demo-panel">
            <h3 class="demo-title">Default</h3>
            <app-speedo-meter class="xOTB-margin" (selectedValue)="onSpeedMeter($event)"></app-speedo-meter>
          </div>
          <div class="demo-panel">
            <h3 class="demo-title">Customized</h3>
            <app-speedo-meter class="xOTB-margin" title="Temperature Rating" labelText="Temperature"  [speedoMeterColor]="'orange'" [wheelColor]="'green'" [max]="300"
              (selectedValue)="onSpeedMeter($event)"></app-speedo-meter>
          </div>
        </ng-container>


        <ng-container *ngIf="isDynamicForm">
          <h3 class="h3-comp">Dynamic Form</h3>
          <div class="demo-panel">
            <h3 class="demo-title">Default</h3>
            <app-dynamic-form (formValue)="onAppDynamicForm($event);" class="xOTB-margin"></app-dynamic-form>
          </div>
          <div class="demo-panel">
            <h3 class="demo-title">Customized</h3>
            <app-dynamic-form [btnColor]="'green'" (formValue)="onAppDynamicForm($event);" class="xOTB-margin">
            </app-dynamic-form>
          </div>
        </ng-container>

        <ng-container *ngIf="isFormCreation">
          <h3 class="h3-comp">Form Creation</h3>
          <div class="demo-panel">
            <h3 class="demo-title">Default</h3>
            <app-form-generator formGeneratorName="Registration Form" [jsonFormData]='formJson' (btnEvent)="onDynamicFormButtonInfor($event)"
                      [rowCount]="4">
            </app-form-generator>
          </div>
          <div class="demo-panel">
            <h3 class="demo-title">Customized</h3>
            <app-form-generator  formGeneratorName="Custom Form" [jsonFormData]='customFormJson' (btnEvent)="onDynamicFormButtonInfor($event)">
            </app-form-generator>
          </div>
        </ng-container>


        <ng-container *ngIf="isImageSlider">
          <h3 class="h3-comp">Image Slider</h3>
          <div class="demo-panel">
            <h3 class="demo-title">Default</h3>
            <app-image-slider [imagesData]='imagesData' (currentImage)="onImageSelected($event);">
            </app-image-slider>
          </div>
          <div class="demo-panel">
            <h3 class="demo-title">Customized</h3>
            <app-image-slider [imagesData]='imagesData' (currentImage)="onImageSelected($event);" [arrowColor]="'black'"
              [arrowBgColor]="'grey'" [texColor]="'grey'" [bottomButtonColor]="'grey'"
              [bottomButtonSelectedColor]="'black'">
            </app-image-slider>
          </div>
        </ng-container>

        <ng-container *ngIf="isIndetermineTree">
          <h3 class="h3-comp">Indeterminate Structure</h3>
          <div class="demo-panel">
            <h3 class="demo-title">Default</h3>
            <app-tree-node title="Folder Structure" [node]="tree" image1="../assets/green.png" image2="../assets/red.png" 
            getColorCode="red" (onNodeSelected)="handleSelection( $event )" 
            [selectedNode]="selectedTreeNode"></app-tree-node>
          </div>
          <div class="demo-panel">
            <h3 class="demo-title">Customized</h3>
            <app-tree-node title="Team Reporting Structure" [node]="tree1" image1="../assets/green1.png" 
            image2="../assets/red1.png" getColorCode="red" 
            (onNodeSelected)="handleSelection( $event )" [selectedNode]="selectedTreeNode"></app-tree-node>
          </div>
        </ng-container>

        <ng-container *ngIf="isContextMenu">
          <h3 class="h3-comp">Context Menu</h3>
          <div class="demo-panel">
            <h3 class="demo-title">Default</h3>
            <div class="context-menu-parent">Default Context Menu
              <app-context-menu [data]=data (optionClick)="contextMenuEvent($event)" (closed)="contextMenuEvent($event)"></app-context-menu>
            </div>
          </div>
          <div class="demo-panel">
            <h3 class="demo-title">Customized</h3>
            <div class="context-menu-parent1">Custom Context Menu
              <app-context-menu [data]=data1 (optionClick)="contextMenuEvent($event)" (closed)="contextMenuEvent($event)"></app-context-menu>
            </div>
          </div>
        </ng-container>
       
      </div>
      <div *ngIf="isDocumentation">

        <app-accordion-doc *ngIf="isAcordionGroup" class="xOTB-doc-margin"></app-accordion-doc>

        <app-multi-selctt-doc *ngIf="isMultiSelValue" class="xOTB-doc-margin"></app-multi-selctt-doc>

        <app-modal-window-doc *ngIf="isModelDialog" class="xOTB-doc-margin"></app-modal-window-doc>

        <app-speedometer-doc *ngIf="isSpeedoMeter" class="xOTB-doc-margin"></app-speedometer-doc>

        <app-angular-dynamic-doc *ngIf="isDynamicForm" class="xOTB-doc-margin"></app-angular-dynamic-doc>

        <app-dynamic-form-doc *ngIf="isFormCreation" class="xOTB-doc-margin"></app-dynamic-form-doc>

        <app-image-slider-doc *ngIf="isImageSlider" class="xOTB-doc-margin"></app-image-slider-doc>
        <!--pagination-->
        <app-pagination-doc *ngIf="isPagination" class="xOTB-doc-margin"></app-pagination-doc>
        <!--Pagination end here-->
        <!--Context Menu-->
        <app-context-menu-doc *ngIf="isContextMenu" class="xOTB-doc-margin"></app-context-menu-doc>
        <!--Context Menu End-->
        <!--Indetermine Tree-->
        <app-indetermine-tree-doc *ngIf="isIndetermineTree" class="xOTB-doc-margin"></app-indetermine-tree-doc>
        <!--Indetermine Tree End-->
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
