/* You can add global styles to this file, and also import other style files */
.headcls{
font-size: 20px;font-weight: 700;text-align: left;margin-left: 10px;
}
.blackbody {
    color: black;
    background: white;
    padding: 10px 10px 10px 10px;
    text-align: left;
    width: 96%;
    margin: 0px auto;
    border-radius: 4px;
}
.table-bordered{
    border-collapse: collapse;
    width: 98%;
    border-spacing: 2px;margin: 10px;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;padding: 20px 0px;
}
.table td, .table th {
    padding: .75rem;
}

 .mat-header-cell {
    color: #FFFFFF !important;
    background-color: #627C9D;
    font-size: 16px;
    font-weight: bold;
  }
  .cdk-column-MethodName , .cdk-column-Attribute {
    color:#0000cc;
    cursor: pointer;
  }

  .cdk-column-MethodName:hover ,.cdk-column-Attribute:hover {
   text-decoration: underline;
  }
 
  h3{
    background-color: #BDC7D1;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 400;
  }

  h6 {
    text-align: start;
    margin: 0px;
    padding:0px;
    color:#0000cc;
    cursor: pointer;
    font-size: 16px;
    padding-left:10px;
  } 
  h6:hover{
      text-decoration: underline;
  }

  body{
    font-family: auto !important;
  }