/* You can add global styles to this file, and also import other style files */
.headcls{
font-size: 20px;font-weight: 700;text-align: left;margin-left: 10px;
}
.blackbody {
    color: black;
    background: white;
    padding: 10px 10px 10px 10px;
    text-align: left;
    width: 96%;
    margin: 0px auto;
    border-radius: 4px;
}
.table-bordered{
    border-collapse: collapse;
    width: 98%;
    border-spacing: 2px;margin: 10px;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;padding: 20px 0px;
}
.table td, .table th {
    padding: .75rem;
}

 .mat-header-cell {
    color: black !important;
    background-color: rgb(200, 217, 226);
    font-size: 14px;
    font-weight: 400;
  }
  .cdk-column-MethodName , .cdk-column-Attribute {
    color:#4e7990;
    cursor: pointer;
  }

  .cdk-column-MethodName:hover ,.cdk-column-Attribute:hover {
   text-decoration: none;
  }
 
  h3{
    font-weight: 600;
    font-size: 1.1em;
  }

  .h3-comp{
    background-color: rgb(200, 217, 226);
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 1.1em;
  }


  h6 {
    text-align: start;
    margin: 0px;
    padding:0px;
    color:#4e7990;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10px;
    font-weight: 400;
  } 
  h6:hover{
      text-decoration: underline;
  }

  body{
    font-family: auto !important;
  }
  .mat-expansion-panel-header,
  .mat-expansion-panel-header:hover, 
  .mat-expansion-panel-header-description, 
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description:hover, 
  .mat-expansion-panel-header-title:hover,
  .mat-expansion-panel-header.mat-expanded:focus,
  .mat-expansion-panel-header.mat-expanded:hover {
    background-color: rgb(200, 217, 226);;
  }
  .mat-expansion-panel-content,
  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-content:hover{
    background-color: rgb(200, 217, 226);
  }
  .mat-expansion-panel,
  .mat-expansion-panel.mat-expanded:focus
  .mat-expansion-panel.mat-expanded:hover
  .mat-expansion-panel:hover{
    background-color: rgb(200, 217, 226);
  }
  .mat-expansion-panel:hover,
  .mat-expansion-panel-header.mat-expanded:focus, 
  .mat-expansion-panel-header.mat-expanded:hover{
    background-color: rgb(200, 217, 226) !important;
  }
.xOTB-modal-header {
    max-height: 10vh!important;
    background-color: rgb(200, 217, 226) !important;
    color: black !important;
    padding: 2%;
}
.xOTB-modal-footer{
  max-height: 10vh!important;
  background-color: rgb(200, 217, 226) !important;
  color: black !important;
  padding: 2%;
}
.xOTB-close{
  color: black !important;
}

.xOTB-speedometerReading{
  border: 20px solid rgb(200, 217, 226) !important;
  border-color: transparent transparent rgb(200, 217, 226) rgb(200, 217, 226) !important;
}
input[type=text]{
  background-color: rgb(200, 217, 226) !important;
  color:black !important;
}
input[type=button]{
  background: #d6d6d6 !important;
}
.xOTB-level1, .xOTB-level2{
  background: transparent !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, 
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, 
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple,
.mat-checkbox-checked.mat-accent .mat-checkbox-background, 
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgb(133, 200, 236) !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: rgb(133, 200, 236) !important;
}
.xOTB-dot{
  width: 2% !important;
}
.xOTB-next, .xOTB-prev{
  color: rgb(200, 217, 226) !important;
}
.xOTB-container > label.xOTB-label,
h4.xOTB-heading{
  color: black !important;
}
